@model IEnumerable<mytest.Models.ShoppingCart>
@{
    ViewData["Title"] = "CardInfo";
    var userItems = ViewBag.userItems;
    var booksInCart = ViewBag.booksInCart;
    Book mybook = new Book();
    double total = 0.00;
    var user = ViewBag.user;
    var UserId = ViewBag.UserId;
    var date = ViewBag.date;

}

@using (Html.BeginForm("AfterPurchase", "Home", FormMethod.Post))
{

<div class="container">
        <div class="col-lg-6">
            <legend>Card Details</legend>
            <div>
                    <div class="card">
                        <div class="front side">
                            <span class="company">
                                CARD
                            </span>
                            PAYMENT CARD
                            <input type="text" id="CCnum" required value="@user.CCnum" class="cc-num" maxlength="16" min="999999999999999" />
                            <div>
                                Expires:
                                <input id="month" type="month" name="month"
                                       min=@date required>
                                <span class="validity"></span>/>
                            </div>
                            <div>
                                CVC:
                                <input type="text" id="CVC"  placeholder="000" class="cc-cvc" maxlength="3" />
                            </div>
                        </div>
                        </div>
            </div>
        </div>
    <div class="col-lg-6">
        <!-- Form Name -->
        <legend>Address Details</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Address</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Address" class="form-control"><br>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">City</label>
            <div class="col-sm-10">
                <input type="text" placeholder="City" class="form-control"><br>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">State</label>
            <div class="col-sm-10">
                <input type="text" placeholder="State" class="form-control"><br>
            </div>

        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Country</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Country" class="form-control"><br>
            </div>
        </div>
        </div>
</div>


<legend>Items</legend>
<div class="container">
    <div class="col-lg-12">
        <table id="cart" class="table table-condensed">
            <thead>
                <tr>
                    <th style="width:60%">Books</th>
                    <th style="width:5%">Price</th>
                    <th style="width:20%">Qty</th>
                    <th style="width:20%">Subtotal</th>
                </tr>
            </thead>
            @foreach (var item in @userItems)
            {
                if (item.Checked == true)
                {
                    total += item.Total;
                    foreach (Book b in booksInCart)
                    {
                        if (b.ISBN.Equals(@item.BookISBN))
                        {
                            mybook = b;
                        }
                    }

                <tbody>
                    <tr>
                        @using (Html.BeginForm("UpdateQuantity", "ShoppingCarts", FormMethod.Post))
                        {
                            <td data-th="Product">@mybook.Title</td>
                            <td data-th="Price">$@mybook.Price</td>
                            <td data-th="Quantity">@(@item.Quantity)</td>
                            <td data-th="Subtotal">$@(@mybook.Price * @item.Quantity)</td>

                        }
                    </tr>
                </tbody>
                }

            }
        </table>
        <table id="cart" class="table table-hover table-condensed">
            <tr>
                <td class="hidden-xs text-right"><strong class="fa fa-angle-right">Total $@total    </strong></td>
            </tr>
        </table>
    </div>
</div>


<div class="col-lg-12" style="text-align:center">
            <a href="~/Home/Index" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
            <input type="hidden" name="userItems" id="userItems" value=@userItems />
            <input type="hidden" name="booksInCart" id="booksInCart" value=@booksInCart />
            <input type="hidden" name="UserId" id="UserId" value="@UserId" />
            <input type="submit" id="btnRegister" name="btnRegister" value="Buy" class="btn btn-success">

</div>

}