@model mytest.Models.BookComment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThisDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThisDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
