@model IEnumerable<mytest.Models.Book>


    @{
        ViewData["Title"] = "ShowBook";
    }
@{
    var comments = (IEnumerable<mytest.Models.BookComment>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;
    var BookISBN = ViewBag.BookISBN;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

    <br />
    <br />
    <div class="row" height="220">
    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-5">
                <div class="thumbnail hvr-curl-top-right">
                    <img src="@item.Image">

                </div>
            </div>
            <div class="right">
                <h5>
                    <font size="12">
                        @item.Title
                    </font>
                </h5>
            </div>
                <div>
                    <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
                   
                </div>

                <div class="right">
                    <h6>
                        <font size="4">
                            <a href="ShowAuthor?field=@item.Author">@item.Author</a>
                            <br />$@item.Price
                        </font>
                    </h6>
                    <p><a href="#" class="btn btn-primary" role="button">Add To Cart</a></p>
                </div>
        }
    }
    </div>



    @foreach (var c in comments)
    {
        <hr />
        <div class="row">
            <div class="col-md-3">
                <i>@c.ThisDateTime</i>
                <br />
                @for (var i = 1; i <= c.Rating; i++)
                {
                    <span class="starGlowN"></span>
                }
                @for (var i = (c.Rating + 1); i <= 5; i++)
                {
                    <span class="starFadeN"></span>
                }
            </div>
            <div class="col-md-9">
                @Html.Raw(c.Comments.Replace("\n", "<br />"))


            </div>
        </div>
    }
    <hr />
    <br />
    <br />
    <br />
    <br />
    <div >
        @Html.Partial("CommentBox")
    </div>

<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>

