@model IEnumerable<mytest.Models.ShoppingCart>

@{
    ViewData["Title"] = "Index";
    var userItems = ViewBag.userItems;
    var booksInCart = ViewBag.booksInCart;
    var image = "";
    Book mybook = new Book();
    double total = 0.00;
}
    <h2>Shopping Cart</h2>
    <br>
    <br>
    @foreach (var item in @userItems)
    {
        total += item.Total;
        foreach (Book b in booksInCart)
        {
            if (b.ISBN.Equals(@item.BookISBN))
            {
                image = b.Image;
                mybook = b;
            }
        }
        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Product</th>
                        <th style="width:10%">Price</th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="@mybook.Image" alt="..." class="img-responsive" /></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">@mybook.Title</h4>
                                    <p></p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">@mybook.Price</td>
                        <td data-th="Quantity">
                            <input type="number" id="NewQuantity" onchange="getId()" class="form-control text-center" value=@item.Quantity>
                        </td>
                        <td data-th="Subtotal" class="text-center">$@(@mybook.Price * @item.Quantity)</td>
                        <td class="actions" data-th="">
                        @using (Html.BeginForm("UpdateQuantity", "ShoppingCarts", FormMethod.Post))
                        {
                            <a class="form-group">
                                <input type="hidden" name="BookISBN" value="@mybook.ISBN" />
                                <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
                                <asp-action="" asp-route-id="@item.ShoppingCartId" id="Quantity" class="glyphicon glyphicon-refresh">
                            </a>
                        }
                                <a asp-action="Delete" asp-route-id="@item.ShoppingCartId" class="glyphicon glyphicon-trash"></a>
</td>
                    </tr>
                </tbody>

            </table>
        </div>
    }
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <tr>
                <td><a href="~/Home/Index" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td class="hidden-xs text-right"><strong class="fa fa-angle-right">Total $@total    </strong><a href="#" class="btn btn-success">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </table>
    </div>

<script>
function getId() {
    document.getElementById("Quantity").innerHTML =
    document.getElementById("NewQuantity").value;
}

</script>