@model IEnumerable<mytest.Models.Author>

@{
    ViewData["Title"] = "ShowAuthor";
    int count = 0;
    var books = ViewBag.books;
}

<br />

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="form-group">
                <br />
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Book Name, Author, Genre or ISBN" })
                }
            </div>
        </div>

    </div>
</div>

<div class="container">

    @if (Model.Count() != 0)
    {
        @foreach (var item in Model)
        {
            @if (@count == 0)
            {
                <div class="row" style="padding-top:5px;">
                    <div class="col-md-6" style="text-align:center;">
                        <div class="hvr-forward">
                            <img id="myImg" src=@item.Image style="height:450px;">
                        </div>
                    </div>

                    <div class="col-md-6" style="text-align:right;">
                        <h3>
                            <font size="12">
                                @item.Name
                            </font>
                        </h3>
                        <h4>
                            <font size="4">
                                @if (item.DateofBirth != null)
                                {
                                    @Convert.ToDateTime(item.DateofBirth).ToString("MMMM dd, yyyy")
                                }
                                @if (item.DateofDeath != null)
                                {
                                    <text> - @Convert.ToDateTime(item.DateofDeath).ToString("MMMM dd, yyyy")</text>
                                }
                                else
                                {
                                    <text> - Present</text>
                                }
                                <br />
                            </font>
                        </h4>
                        <h5>
                            <font size="3">
                                @item.BirthCity, @item.BirthCountry
                            </font>
                        </h5>
                    </div>
                </div>

                <div class="row" style="padding-top:5px;">
                    <div class="col-md-12">
                        <div class="tab">
                            <button class="tablinks" onclick="openTab(event, 'Bio')" id="defaultOpen">Biography</button>
                            <button class="tablinks" onclick="openTab(event, 'Rb')">Related Books</button>
                        </div>
                    </div>
                </div>

                <div id="Bio" class="tabcontent">
                    <i>@item.Bio</i>
                </div>

            }
            count = 1;

            <div id="Rb" class="tabcontent">
                <div style="text-align:center;">
                    @foreach (Book b in books)
                    {
                        <div style="width:200px; text-align:center; display:inline-block; position:relative; vertical-align:top">
                            <a href="../Home/ShowBook?field=@b.ISBN">
                                <img src=@b.Image class="hvr-push" style="width:180px; height:270px;"><br />
                                <div class="caption" style="padding-top:4px;">
                                    <span class="rating" style="padding-left:1em;">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            string starClass = "";
                                            if (i <= b.Rating)
                                            {
                                                starClass = "starGlowN";
                                            }
                                            else
                                            {
                                                starClass = "starFadeN";
                                            }

                                            <span class="@starClass" style="background-size:15px; background-repeat: no-repeat;"></span>
                                        }
                                    </span><br />
                                    <span style="font-size:14px;">@b.Title</span><br />
                                    <span style="font-size:14px;">@Convert.ToDateTime(b.ReleaseDate).ToString("yyyy") - @b.Genre</span> <br />
                                    <span style="color:red; font-size:14px;">
                                        $@b.Price
                                    </span>
                                </div>
                            </a>
                        </div>

                    }
                </div>
            </div>
        }
    }
</div>
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>