@model IEnumerable<mytest.Models.Book>


@{
    ViewData["Title"] = "ShowBook";
}
@{
    var comments = (IEnumerable<mytest.Models.BookComment>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;
    var BookISBN = ViewBag.BookISBN;
    var UserName = ViewBag.UserName;
    var UserId = ViewBag.UserId;
    var bought = ViewBag.bought;
    var Quantity = ViewBag.Quantity;
    var RelatedBooks = ViewBag.RelatedBooks;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}
<body onload="SCRate();">
</body>

<br />

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="form-group">
                <br />
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Book Name, Author, Genre or ISBN" })
                }
            </div>
        </div>

    </div>
</div>

<br />
<div class="container">
    <div class="row" height="3">
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6">
                    <div class="thumbnail hvr-curl-top-right">
                        <img id="myImg" src="@item.Image" style="height:450px; width:300px">

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="right">
                        <h5>
                            <font size="10">
                                @item.Title
                            </font><br />
                            <font size="5">
                                by <a href="ShowAuthor?field=@item.Author">@item.Author</a>
                            </font>
                            <font size="3">
                                <br />Release Date: @Convert.ToDateTime(item.ReleaseDate).ToString("MMMM dd, yyyy")
                            </font>
                        </h5>
                    </div>

                    <div>
                        <span class="starFadeN" id="sRate1" style="min-width: 30px; min-height: 30px"></span>
                        <span class="starFadeN" id="sRate2" style="min-width: 30px; min-height: 30px"></span>
                        <span class="starFadeN" id="sRate3" style="min-width: 30px; min-height: 30px"></span>
                        <span class="starFadeN" id="sRate4" style="min-width: 30px; min-height: 30px"></span>
                        <span class="starFadeN" id="sRate5" style="min-width: 30px; min-height: 30px"></span>
                        &nbsp;(@ratingCount Reviews)

                        <div class="right">
                            <br /><span style="font-size:35px; color:red"><b> $@item.Price </b></span>
                        </div>


                        <i style="padding-left:4em">@Html.Partial("AddToCart")</i>
                    </div>
                </div>

                <div class="row" style="padding-top:5px;">
                    <div class="col-md-12">
                        <div class="tab">
                            <button class="tablinks" onclick="openTab(event, 'Overview')" id="defaultOpen">Overview</button>
                            <button class="tablinks" onclick="openTab(event, 'Rb')">Related Books</button>
                        </div>
                    </div>
                </div>

                <div id="Overview" class="tabcontent">
                    @item.Description
                </div>

                <div id="Rb" class="tabcontent">
                    @foreach (Book b in @RelatedBooks)
                    {

                        <div style="width:200px; text-align:center; display:inline-block; position:relative; vertical-align:top">
                            <a href="../Home/ShowBook?field=@b.ISBN">
                                <img src=@b.Image class="hvr-grow" style="width:180px; height:270px;"><br />
                                <div class="caption" style="padding-top:4px;">
                                    <span class="rating" style="padding-left:1em;">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            string starClass = "";
                                            if (i <= b.Rating)
                                            {
                                                starClass = "starGlowN";
                                            }
                                            else
                                            {
                                                starClass = "starFadeN";
                                            }

                                            <span class="@starClass" style="background-size:15px; background-repeat: no-repeat;"></span>
                                        }
                                    </span><br />
                                    <span style="font-size:14px;">@b.Title</span><br />
                                    <span style="font-size:14px;">By: @b.Author</span><br />
                                    <span style="font-size:14px;">@Convert.ToDateTime(b.ReleaseDate).ToString("yyyy") - @b.Genre</span> <br />
                                    <span style="color:red; font-size:14px;">$@b.Price</span>
                                </div>
                            </a>
                        </div>

                    }
                </div>


                // </div>
            }
        }
    </div>
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>


    @foreach (var c in comments)
    {
        <hr />
        <div class="row">
            <div class="col-md-3">

                <br />
                @for (var i = 1; i <= c.Rating; i++)
                {
                    <span class="starGlowN" style="min-width: 30px; min-height: 30px"></span>
                }
                @for (var i = (c.Rating + 1); i <= 5; i++)
                {
                    <span class="starFadeN" style="min-width: 30px; min-height: 30px"></span>
                }
            </div>

        </div>
        <div>
            @if (@c.UserId == null)
            {
                <div>
                    <b>By Anonymous</b>
                </div>
            }
            else
            {
                <div><b>By @c.UserId</b></div>
            }
            <i>on @String.Format("{0:F}", @c.ThisDateTime)</i>

        </div>
        <div class="col-md-12">
            @Html.Raw(c.Comments.Replace("\n", "<br />"))
        </div>
        <hr />
    }
    
    <br />
    <br />
    <br />
    <br />
    <div>
        @if (bought)
         {
            @Html.Partial("CommentBox")
         }
    </div>

    <script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
    </script>

